# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj

# Build output
build/

# VS Code
.vscode/

# Python
__pycache__/
*.pyc
*.pyo

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.dwo

# STM32 / ARM specific
*.lst
*.lss
*.sym
*.srec
*.s19

# STM32CubeIDE / STM32CubeMX
.settings/
.project
.cproject
.mxproject
Debug/
Release/
*.launch
*.cfg
!openocd.cfg

# Backup files
*.bak
*~
